
@{
    ViewBag.Title = "TTS";
}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
    function WebFormData(text) {
        this.text = text;
    }
    function submitForm() {
        $('#response').html('<img src=\"/ajax-loader.gif\"> Processing...');
        let formData = new WebFormData($('#text').val());
        $.ajax({
            url: '/api/TTS',
            type: 'post',
            data: formData,
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            success: function (data, textStatus, jqXHR) {
                $('#response').html('Done! You may hear the audio below.<br /><audio controls="controls" autoplay><source src="/api/TTS" type="audio/mp3"></audio>');
            },
            error: function (data, textStatus, jqXHR) {
                $('#response').html('An error occurred when attempting to convert the text to speech. The error is: ' + data.message);
            }
        });
    }
    $(document).ready(function () {
        $('#submit').click(submitForm);
    });

</script>
<style>
    #text {
        resize: none;
    }
</style>
<h1>Text to speech using Google API</h1>

<p>Enter text to convert to speech</p>
<textarea id="text" name="text" rows="4" cols="80"></textarea>
<br />
<button id="submit">Submit</button>
<br />
<div id="response"></div>


